html, body{
  height: 100%;
  margin:0;
  padding:0;
  background-color: rgb(15, 112, 208);
  text-align: center;
}

.night {
  background-color: rgb(2, 0, 27);
  color: white;
}

.conteiner {
display:grid;

}

header{
  background-color: red;
}

aside{
  background-color: green;
}

main{
  background-color: yellow;
  }

  footer{
background-color: blue;
  }