html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(88, 164, 240);
  text-align: center;
}

.night {
  background-color: rgb(2, 0, 27);
  color: white;
}

@media (min-width: 800px){
.conteiner {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 70px;
  grid-template-areas: "header header"
    "aside main"
    "footer footer";
  height: 100%;
}

header {

  grid-area: header;
}

aside {
  grid-area: aside;
  text-align: left;
  padding-top: 50px;

}

main {
  grid-area: main;

}

footer {
  grid-area: footer;

}
}
li {
  margin-left: -20px;
  margin-top: 20px;
  font-size: 1.3em;
  text-align: left;
  cursor: pointer;
}

aside img {
  height: 30px;
  width: 30px;

}

aside span {
  vertical-align: 6px;
}

.dn {
  width: 40px;
  height: 40px;
}

.dn:hover {
  border: 1px solid rgb(149, 241, 169);
  border-radius: 10%;
}

.mainImg {
  width: 300px;
  height: auto;
}

div.panel {
  position: relative;
  margin-top: 20px;
}

div.panel>form {
  display: inline;
}

.add_form {
  margin-top: 20px;
  padding-top: 20px;

}

.add_form span {
  font-size: 1.2em;
}

.add_form select,
input,
textarea {
  margin-top: 15px;
}

.mainT {
  margin-left:auto;
  margin-right: auto;
  margin-top: 10px;
  border: 1px solid green;
  border-spacing: 5px;
  background-color: rgb(55, 204, 210);
  width: 60%;
  text-align: left;
}

.mainT th,
td {
  margin: 6px;
  border: 1px solid grey;
}
.mainT tr:nth-child(8){
  width: 20px;
}

.btn {
  background-color: rgb(88, 164, 240);
  border: none;
}

.btnN {
  background-color: rgb(2, 0, 27);
  border: none;
  color: white;

}

@media (max-width: 799px){
  .conteiner{
    display:flex;
    flex-direction: column;
  }
  .mainImg {
    width: 200px;
    height: auto;
  }
  .mainT{
    border-spacing: 2px;
    width:95%;
    text-align: center;
  }
  .add_form {
    margin-left:auto;
    margin-right: auto;
    margin-top: 7px;
    padding-top: 7px;
  
  }

}