html, body{
  height: 100%;
  margin:0;
  padding:0;
  background-color: rgb(15, 112, 208);
  text-align: center;
}

.night {
  background-color: rgb(2, 0, 27);
  color: white;
}

.conteiner {
display:grid;
grid-template-columns: 200px 1fr;
grid-template-rows: 100px 1fr 70px;
grid-template-areas: "header header"
                      "aside main"
                      "footer footer";
                      height: 100%;
}

header{

  grid-area: header;
}

aside{
  grid-area: aside;

  text-align: center;
  padding-top: 50px;
  
}

main{
  grid-area: main;

  }

  footer{
    grid-area: footer;

  }

  li{
    margin-left:-20px;
    margin-top:20px;
    font-size: 1.3em;
    text-align: left;
    cursor: pointer;
     }

  aside img{
    height: 30px;
    width: 30px;
   
    }

 aside span{
  vertical-align: 6px;
 }

.dn{
  width: 40px;
  height: 40px;
 }
  .dn:hover{
    border:1px solid rgb(149, 241, 169);
    border-radius: 10%;
  }